<form action="/reply" method="get">
  <div class="form-group">
    <label for="query">What do you want to ask your coach?</label>
    <input type="text" name="question" placeholder="your question here" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Ask</button>
</form>
